{% extends 'home/base.html' %}
{% block title %}
- Music
{% endblock title %}
{% block content %}
  <h3 class="pb-4">Albums</h3>
  <div class="row">
    {% for album in albums %}
    <div class="col-sm-4">
      <div style="min-height: 180px;">
        <h3><a href={% url 'Album' album_title=album.title %}>{{ album.title }} >></a></h3>
        <h3>{{ album.label }}</h3>
        <h3>{{ album.year }}</h3>
      </div>
      <img class="mb-5 mw-100" src="{{ album.image.url }}" alt="" width=400px>
    </div>
    {% endfor %}
  </div>
  <h3 class="pb-4">Compilation Tracks</h3>
  <div class="row">
    {% for track in compilation_tracks %}
    <div class="col-sm-4">
      <div style="min-height: 180px;">
        <h3>'{{ track.title }}'</h3>
        <h3>{{ track.label }}</h3>
        <h3>{{ track.year }}</h3>
      </div>
      <img class="mb-5 mw-100" src="{{ track.image.url }}" alt="" width=400px>
    </div>
    {% endfor %}
  </div>


{% endblock content %}
