{% extends 'home/base.html' %}
{% block title %}
| Change Email
{% endblock title %}
{% block content %}
<p>Current Email: {{ request.user.email }}</p>

<p>New Email:</p>
<form method="POST">
  {% csrf_token %}

  {% for field in form %}
    <!-- {{ field.label_tag }}</br> -->
    {{ field }}</br>
    <!-- {% if field.help_text %}
      <small style="color: grey">{{ field.help_text }}</small></br>
    {% endif %} -->
    {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
  {% endfor %}

  <button type="submit" class="btn btn-geoglyph mt-4" method="POST">Submit</button>
</form>
{% endblock content %}
