{% extends 'home/base.html' %}
{% block content %}
<div class="row mb-5">
  <div class="col-sm-3 mt-5 text-center"><a href="https://www.facebook.com/Geoglyph"><i class="fab fa-facebook-f fa-7x mx-4"></i></a></div>
  <div class="col-sm-3 mt-5 text-center"><a href="https://soundcloud.com/geoglyph"><i class="fab fa-soundcloud fa-7x mx-4"></i></a></div>
  <div class="col-sm-3 mt-5 text-center"><a href="https://www.mixcloud.com/Geoglyph/"><i class="fab fa-mixcloud fa-7x mx-4"></i></a></div>
  <div class="col-sm-3 mt-5 text-center"><a href="mailto: geoglyphmusic@gmail.com"><i class="far fa-envelope-open fa-7x mx-4"></i></a></div>
</div>
{% endblock content %}
